.mono-font {
  font-family: 'Roboto Mono', Roboto Mono, monospace;
  font-weight: normal;
}

.mono-font-bold {
  font-family: 'Roboto Mono', Roboto Mono, monospace;
  font-weight: bold;
}

.xterm {
  * {
    font-family: 'Roboto Mono', Roboto Mono, monospace;
  }
}